 #box2 {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    border-radius: 15px;
    color: rgb(19, 253, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.backimg {
    background-image: url("hacking\ backimg.jpg");
    width: 98vw;
    height: 98vh;
    justify-items: center;
    align-items: center;
}

.box1 {
    width: 500px;
    height: 100px;
    color: rgb(19, 253, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 46px;
    padding: 10px;
}