*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url(todo-app\ bcg.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.todoApp {
    background-color: aqua;
    width: 100%;
    max-width: 540px;
    border-radius: 10px;
    text-align: center;
    padding: 0px 30px 50px;
    margin: 0px auto 20px;
}

.todoApp h2{
    padding: 15px;
    font-size: 25px;
    display: flex;
}

.todoApp h2 img {
    width: 25px;
    height: 25px;
    margin: 3px 12px;
}

#note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(202, 169, 109);
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 30px;
}

#note input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 52px;
    padding: 10px;
    font-weight: 14px;
    font-size: 20px;
}


#note button {
    border: none;
    outline: none;
    background-color: rgb(255, 140, 0);
    border-radius: 42px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    color: #fff;
}

.list-Container li {
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    padding: 12px 8px 12px 50px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    font-family: sans-serif;
}

ul li::before {
    content: " ";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}


li span:hover{
    background-color: antiquewhite;
    border-radius: 50%;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(checked.png);
}

ul li span {
    position: absolute;
    font-size: 22px;
    height: 28px;
    width: 28px;
    right: 0;
    top: 5px;
    color: #555;
    text-align: center;
}